.contenedor_login_register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);

    form{ width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;

    h2{
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        color: #46A2FD;
    }
    input{
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        border: none;
        background: #f2f2f2;
        font-size: 16px;
        outline: none;
    }
    button{
        padding: 10px 40px;
        margin-top: 40px;
        font-size: 14px;
        background: #46A2FD;
        color: #fff;
        cursor: pointer;
        outline: none;
        border: none;
    }
    }
}
.formulario_login{
    opacity: 1;

}
.formulario_register{
 display: none;
}
