@media screen and (max-width: 850px){
    main{
        margin-top: 50px;
 
        .caja_trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;

        div{
            margin: 0;
            position: absolute;
        }
        }

        .contenedor_login_register{
            top: -10px;
            left:-5px;
            margin: auto;
            form{
                position: relative;
            }
        }

    }
}